body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.top {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #f9FAF8;
}

.header-links {
    display: flex;
}

.header-link {
    color: #E5E7EB;
}

.hero {
    display: flex;
    margin: 128px;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.hero-header {
    font-size: 48px;
    font-weight: 900;
    color: #f9FAF8;
}

.hero-body {
    color: #E5E7EB;
    font-size: 18px;
    flex-wrap: wrap;
    width: 400px;
}

.sign-up {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
    border-style: none;
    padding: 4px 32px;
    font-weight: 700;
}

.hero-image {
    color: #E5E7EB;
    background-color: gray;
    width: 400px;
    height: 200px;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.infobody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100px;
}

.infobox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}

.infoimage {
    height: 130px;
    width: 130px;
    border-radius: 10px;
    outline: #3882F6 solid 3px;
}

.infotext {
    word-wrap: break-word;
    padding: 5px;
    width: 130px;
    text-align: center;
    color: gray;
}

.quotes {
    background-color: #E5E7EB;
    display: flex;
}

.thor-quote {
    display: flex;
    flex-direction: column;
    width: 800px;
    padding: 100px;
    margin-left: auto;
    margin-right: auto;
}

.quote {
    font-weight: 300;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.attribution {
    text-align: right;
    font-weight: 700;
    font-size: 24px;
}

.call-to-action {
    display: flex;
    background-color: #3882F6;
    margin: 75px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    color: #f9FAF8;
    border-radius: 5px;
}

.call-content {
    padding: 35px;
    margin-left: auto;
}

.call-heading {
    font-weight: 700;
}

.call-body {
    color: #E5E7EB;
}

.call-button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
    border: solid #f9FAF8;
    padding: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: auto;
    margin-left: 200px;
    font-weight: 700;
}

.footer {
    display: flex;
    background-color: #1F2937;
    padding: 25px;
    justify-content: center;
}

.copyright {
    color: #E5E7EB;
}